opencv-python-headless
requests
pandas
docker==7.1.0
plotly
python-dotenv
pyyaml
scikit-learn
matplotlib
albumentations
torch
apache-beam
cleanvision
ultralytics
yolov5
huggingface-hub==0.24.7
tokenizers==0.19.1