# aipipeline/config.yml
# Config file for common aipipeline library components
# These can be overridden per project by the config.yml in the project directory,
# e.g. aipipeline/projects/i2map/config.yml
docker:
  sdcat: 'mbari/sdcat:1.27.9-cuda124'
  expd: 'get-expd-data'
  voccropper: 'mbari/voc-imagecropper'

  bind_volumes:
    /mnt/ML_SCRATCH:
      bind: /mnt/ML_SCRATCH
      mode: rw
    /tmp:
      bind: /tmp
      mode: rw
    /mnt/DeepSea-AI:
      bind: /mnt/DeepSea-AI
      mode: rw

vss:
  url: "http://doris.shore.mbari.org:8000/knn"